.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  padding: 0;
  margin: 0;
  position: relative; 
  background-color: #f2f2f2;
}

.logo {
  z-index: 100;
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  display: flex;
  margin: auto auto auto 64px;
  align-self: center;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 100;
}

.header__subtitle {
  z-index: 100;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration { 
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 608px;
  width: 765px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: flex;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  font-weight: normal;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin-bottom: 100px;

}

.table__cell {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 250px;
}

.table__cell_paragraph {
  margin-top: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}

.table__heading {
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;

}

.table__text {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0 0 0;
}
  
.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  min-height: 790px;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
}

.feynman__title {
  display: flex;
  text-align: center;
  width: 648px;
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 100;

}

.feynman__subtitile {
  display: flex;
  text-align: center;
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  z-index: 100;
}

.feynman__link {
  display: flex;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 90px 0;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  display: flex;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  margin: 0 0 20px 0;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  display: flex;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  color: white;
  z-index: 2;
}

.table_theme_dark {
  display: flex;
  margin-bottom: 0;
  z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  display: flex;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  display: flex;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 0;
  height: 877px;
  width: 877px;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__colunm_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.logo_place_footer {
  display: flex;
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  display: flex;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  display: flex;
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 16px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  line-height: 30px;
}